
#menus{
	margin-left: 970px;
	
}
#a1{
	margin-left: 10px;
	border-left: 1px solid #bec1bf;
  	text-align: center;	
  	padding-left: 15px;
}
#btn{
	border-left: 1px solid #bec1bf;
	padding-left: 10px;
}

