
#menus{
	margin-left: 67%;
}
#a1{
	margin-left: 10px;
  	text-align: center;	
  	
}
#a1.navbar-brand:hover{
color:green;
}
#a2.navbar-brand:hover{
color:green;
}
#a3.navbar-brand:hover{
color:green;
}
#a4.navbar-brand:hover{
color:green;
}





#btn{
	
	padding-left: 30px;
}
#conten1{
background-color: green;
color:white;
text-align: center;
font-size: 18px;
padding-bottom: 23px;
padding-top: 7px;


}
a{
 
  color: white;
  text-align: center;
  text-decoration: none;
}

 

#elements{
    width: 1440px;
    height: 500px;

}
#contentDesc{
	padding-right: 305px;
padding-left: 305px;
}
#load{
	font-size: 20px;
	padding-top: 56px;

}
#logo{
	width: 3%;
	height: 3%;
}
#nom{
	position: absolute;
    height: 30px;
    padding-right: 0px;
    padding-left: 55px
}

#conten2{
padding-top: 30px;
color:black;
text-align: center;
font-size: 18px;

}
#admins{
	margin-right: 250px;
    width: 200px;
    height: 200px;
    
    
}
#man{


    justify-content: center;
   
    display: inline-block;

}
#ferr{
    margin-right: 323px;
    display: inline;
    
}
#admin2{
	width: 200px;
    height: 200px;
    
}
#sub2{

   padding-bottom: 25px;

}


